* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header #icon-menu {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 14px;
  font-size: 24px;
  background: #ffd5cd;
  border-radius: 100%;
  color: #8675a9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header-content {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #8675a9;
  display: flex;
  height: 70px;
}

.header-content h1 {
  display: inline-block;
}

.header-content h1 a {
  position: relative;
  top: -20px;
  margin-left: 10px;
  color: #ffd5cd;
}

.header-content .logo {
  margin-top: 5px;
  margin-right: 5px;
}

.header-content .logo img {
  width: 70px;
  height: 60px;
  border-radius: 100%;
}

.header-content .logo h1 a {
  text-decoration: none;
}

.header-content .logo h1 a:hover {
  color: #efbbcf;
  opacity: 0.5;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu {
  height: 70px;
}

.menu nav {
  height: 100%;
}

.menu nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu nav ul li {
  height: 100%;
  margin: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu nav ul li a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #ffd5cd;
}

.menu nav ul li a:hover {
  color: #efbbcf;
  opacity: 0.5;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu nav ul li {
  height: 100%;
  margin: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container-all {
  -webkit-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  transition: all 300ms cubic-bezier(1, 0, 0, 1);
}

.move-container-all {
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
}

@media (max-width: 800px) {
  .menu {
    z-index: 100;
    width: 0px;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0;
    background: #fff;
    overflow: hidden;
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
    -webkit-box-shadow: 10px 0 20px -25px black;
            box-shadow: 10px 0 20px -25px black;
    -webkit-transition: all 300ms cubic-bezier(1, 0, 0, 1);
    transition: all 300ms cubic-bezier(1, 0, 0, 1);
  }
  .menu nav {
    background-color: #8675a9;
  }
  .menu nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
  }
  .menu nav ul li {
    max-width: 200px;
    height: 50px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .show-lateral {
    width: 300px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  header #icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header #icon-menu:hover {
    opacity: 0.8;
  }
  .logo h1 {
    display: none;
  }
}

.contenedor {
  display: -ms-grid;
  display: grid;
  width: 30%;
  margin-top: 30px;
  margin-left: 30px;
  float: right;
}

.slider {
  width: 100%;
  margin: auto auto;
  overflow: hidden;
  display: inline-block;
}

.slider ul {
  -webkit-animation: rueda 14s infinite;
          animation: rueda 14s infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400%;
  max-height: 450px;
}

.slider ul li {
  list-style: none;
  display: inline-block;
  width: 100%;
  max-height: 100%;
}

.slider ul li img {
  border: 5px solid pink;
  border-radius: 10px;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes rueda {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes rueda {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/*

@media(min-width:800px)
{
    .slider{
        width: 60%;
        margin-right: 40px;
        margin-top:20px;
        //margin: auto;
    }
}*/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  width: 322px;
  height: 40px;
  font-size: 40px;
  line-height: 40px;
  border: 2px solid #8675a9;
  color: #c3aed6;
  position: relative;
  margin: auto;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.container p {
  display: inline;
}

.container ul {
  -webkit-animation: up 5s infinite;
          animation: up 5s infinite;
  padding-left: 10px;
}

.container ul li {
  list-style: none;
}

@-webkit-keyframes up {
  0% {
    margin-top: 0px;
  }
  20% {
    margin-top: 0px;
  }
  25% {
    margin-top: -40px;
  }
  50% {
    margin-top: -40px;
  }
  55% {
    margin-top: -80px;
  }
  80% {
    margin-top: -80px;
  }
  85% {
    margin-top: -40px;
  }
  95% {
    margin-top: -40px;
  }
  100% {
    margin-top: -40px;
  }
}

@keyframes up {
  0% {
    margin-top: 0px;
  }
  20% {
    margin-top: 0px;
  }
  25% {
    margin-top: -40px;
  }
  50% {
    margin-top: -40px;
  }
  55% {
    margin-top: -80px;
  }
  80% {
    margin-top: -80px;
  }
  85% {
    margin-top: -40px;
  }
  95% {
    margin-top: -40px;
  }
  100% {
    margin-top: -40px;
  }
}

.galery {
  width: 70%;
  margin: 60px auto 0 auto;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: dense;
  grid-template: "1fr 1fr 1fr " 33.33vh "1fr 1fr 1fr " 33.33vh "1fr 1fr 1fr " 33.33vh;
  grid-gap: 6px;
}

.galery .box {
  position: relative;
}

.galery .box img {
  border: 3px solid pink;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galery .a {
  grid-column: span 2;
}

.galery .c {
  grid-row: span 2;
}

.galery .f {
  grid-column: span 2;
}

@media (max-width: 600px) {
  .galery {
    width: 80%;
    margin: 30px auto 0 auto;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: dense;
    grid-template: "1fr 1fr " 33.33vh "1fr 1fr " 33.33vh "1fr 1fr " 33.33vh "1fr 1fr " 33.33vh "1fr 1fr " 33.33vh;
    grid-gap: 6px;
  }
  .galery .c {
    grid-row: span 3;
  }
}

@media (max-width: 450px) {
  .galery {
    width: 90%;
    margin: 20px auto 0 auto;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: dense;
    grid-template: "1fr" 150px "1fr" 150px "1fr" 150px;
    grid-gap: 6px;
  }
  .galery .c {
    display: none;
    grid-row: span 3;
  }
  .galery .e {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */