.section1{
    width: 100%;
    h2{
        width: 30%;
        color: $pal-bg;
        display: inline-block;
        position: relative;
        font-size: 1.5rem;
        top:-310px;
        right: 0px;

    }
}
.slider{
    width: 50%;
    height: 450px;
    margin: auto auto;
    overflow: hidden;
    display: inline-block;
    ul{
        animation: rueda 20s infinite;
        display:flex;
        width: 400%;
        max-height: 450px;
        li{
            list-style: none;
            display:inline-block;
            width: 100%;
            // display: flexbox;
            max-height: 100%;
            img{
                display:inline-block;
                max-width: 80%;
            }
        }
    }

}
@keyframes rueda{
    0% {margin-left:0%;}
    20% {margin-left:0%;}

    25% {margin-left:-100%;}
    45% {margin-left:-100%;}

    50% {margin-left:-200%;}
    70% {margin-left:-200%;}

    75% {margin-left:-300%;}
    100% {margin-left:-300%;}
}/*

@media(min-width:800px)
{
    .slider{
        width: 60%;
        margin-right: 40px;
        margin-top:20px;
        //margin: auto;
    }
}*/