.contenedor{
    display: grid;
    width: 30%;
    margin-top: 30px;
    margin-left: 30px;
    float: right;
}

.slider{
    
    width: 100%;
    margin: auto auto;
    overflow: hidden;
    display: inline-block;
    ul{
        animation: rueda 14s infinite;
        display:flex;
        width: 400%;
        max-height: 450px;
        li{
            list-style: none;
            display:inline-block;
            width: 100%;
            max-height: 100%;
            img{
                border: 5px solid pink ;
                border-radius: 10px;
                max-width: 100%;
                object-fit:contain;
            }
        }
    }

}
@keyframes rueda{
    0% {margin-left:0%;}
    20% {margin-left:0%;}

    25% {margin-left:-100%;}
    45% {margin-left:-100%;}

    50% {margin-left:-200%;}
    70% {margin-left:-200%;}

    75% {margin-left:-300%;}
    100% {margin-left:-300%;}
}/*

@media(min-width:800px)
{
    .slider{
        width: 60%;
        margin-right: 40px;
        margin-top:20px;
        //margin: auto;
    }
}*/